body {
    width: 600px;
    margin: 0 auto;
}

.wrapper {
    margin: 0px, auto;
    height: 600px;
    width: 600px;
}

.box {
    background-color: dimgrey;
    float: left;
}

.hover {
    background-color: aqua;
}

button {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 1.5em;
    background: yellow;
}

button:hover {
    cursor: pointer;
}